{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="banner">
        <div class="agileinfo-dot">
            <div class="header">
                {% include 'common/navbar.html' %}
            </div>
            <div class="w3layouts-banner">
                <div class="container">
                    <div class="w3-banner-info">
                        <div class="w3l-banner-text">
                            <h2>Lorena</h2>
                            <h2>&</h2>
                            <h2>Leonardo</h2>
                            <p>Convidam para o seu casamento</p>
                            <p>25/04/2026</p>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="w3ls-banner-info-bottom">
                <div class="container">
                    <div class="banner-address">
                        <div class="col-md-4 banner-address-left">
                            <a href="https://www.waze.com/pt-BR/live-map/directions/paroquia-militar-nossa-senhora-do-sameiro-av.-coronel-teixeira-6394-manaus?to=place.w.196544233.1965638939.9217911" target="_blank"><p><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Paróquia Militar Nossa Senhora do Sameiro</p></a>
                        </div>
                        <div class="col-md-4 banner-address-left">
                            <p><i class="fa-regular fa-envelope" aria-hidden="true"></i> <a
                                    href="mailto:lcxcordeiro@gmail.com">lcxcordeiro@gmail.com</a>
                            </p>
                        </div>
                        <div class="col-md-4 banner-address-left">
                            <a href="https://wa.me/351936240773" target="_blank">
                                <p><i class="fa-brands fa-whatsapp" aria-hidden="true"></i> +351 936 240 773 </p></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-bottom">
        <div class="container">

            <div class="text-center col-md-12 wthree-services-left">
                <img src="{% static 'images/convite_ll.png' %}">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'presents' %}" class="btn btn-presentes" style="background-color: #728359; color: #fff; margin-bottom: 40px; padding-top: 15px;height: 50px; text-align: center">Lista de Presentes</a>
    </div>

    <footer>
        <div class="container">
            <div class="agile-footer-grids">
                <div class="col-md-12 agile-footer-grid">
                    <div class="col-md-6">
                        <h4>Cerimônia</h4>
                        <div class="agile-footer-info">
                            <p>25/04/2025</p>
                            <p>Paróquia Militar Nossa Senhora do Sameiro, Ponta Negra, Manaus - AM</p>
                            <p>19:00 Horas</p>

                        </div>
                    </div>
                    <div class="col-md-6 address-footer">
                        <h4>recepção</h4>
                        <div class="agile-footer-info">
                            <p>25/04/2025</p>
                            <p>Rancho Baluarte, Tarumã, Manaus AM</p>
                            <p>21:00 Horas</p>

                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>

{% endblock %}